.Header
  .LeftHeader
    .LeftHeader__Left
      = link_to root_path do
        otyanoma
    .LeftHeader__Right
      - if user_signed_in?
        = link_to edit_user_path(current_user), class: "CurrentUserName" do
          = icon("fa", "user")
          = current_user.name
      - else
        = link_to new_user_registration_path , class: "LeftHeader__Right__Btn" do
          新規登録
        = link_to new_user_session_path , class: "LeftHeader__Right__Btn" do
          ログイン
      
  .RightHeader
    .RightHeader__SearchBox
      .RightHeader__SearchBox__Form
        %form{class: "Form"}
          %input{type: "text", placeholder: "キーワードから探す", class: "InputText"}
          %button{type: "submit", class: "SubmitBtn"}
            .RightHeader__SearchBox__Form__Icon
              = icon("fas", "search")
            
    