.Header
  .LeftHeader
    .LeftHeader__Left
      = link_to root_path do
        otyanoma
    .LeftHeader__Right
      - if user_signed_in?
        = link_to edit_user_path(current_user), class: "CurrentUserName" do
          = icon("fa", "user fa-lg")
          = current_user.name
      - else
        = link_to new_user_registration_path , class: "LeftHeader__Right__Btn" do
          新規登録
        = link_to new_user_session_path , class: "LeftHeader__Right__Btn" do
          ログイン
      
  .RightHeader
    .RightHeader__SearchBox
      .RightHeader__SearchBox__Form
        = form_with url: search_contents_path, local: true, method: :get, class: "Form" do |f| 
          = f.text_field :keyword, class: 'InputText', placeholder: 'キーワードから探す'
          %button{type: "submit", class: "SubmitBtn"}
            .RightHeader__SearchBox__Form__Icon
              = icon("fas", "search")
            
    