.TopMain
  .FirstView
    = image_tag 'back/kazoku.jpg', alt: '犬の家族', height: '300px', width: '500px'
    %p 介護の疑問・不安を解決しませんか？
  .FirstViewBtn
    - if user_signed_in?
      = link_to("今すぐ介護の相談をする", new_content_path, class: "FirstViewText")
    - else
      = link_to("今すぐ会員登録して相談をする", new_user_registration_path, class: "FirstViewText")

.Middle
  .MiddleBar
    .MiddleBar__Center
      __ 相談、Q&A 
  .Contents
    - @contents.each do |content|
      .ContentsBox
        .UserBox
          .UserBox__Name
            = icon("fa", "user fa-2x")
            = link_to "#", class: "Name" do
              = content.user.name
        .TextBox
          %p.Body
            = link_to content_path(content.id), class: "Body" do
              = content.text
        .DateBox
          %p.NowDate
            = content.created_at.strftime("%Y.%m.%d %H:%M")    


    
    
    
    