.ContentDetail
  = render "head_bar"
  
  .TopMain
    .FirstView
      = image_tag 'back/kazoku.jpg', alt: '犬の家族', height: '300px', width: '500px'
    .FirstViewBtn
      - if user_signed_in?
        = link_to("今すぐ介護の相談をする", new_content_path, class: "FirstViewText")
      - else
        = link_to("今すぐ会員登録して相談をする", new_user_registration_path, class: "FirstViewText")
  
  .Middle
    .MiddleBar
      .MiddleBar__Center
        __ 相談、Q&A

    .ContentsShowBox
      .ContentsMessageBox
        .UserBox
          .UserBox__Name
            = icon("fa", "user fa-2x")
            = link_to "#" , class: "Name" do
              = @content.user.name 
            - if user_signed_in? && @content.user_id == current_user.id
              = link_to edit_content_path(@content.id), class: "EditBtn" do
                = icon("fa", "edit")
              = link_to content_path(@content.id), method: :delete, class: "DeleteBtn", data: { confirm: "本当に削除してもよろしいですか？" }  do
                = icon("fa", "trash-alt")
        .TextBoxShow
          %p.BodyContent
            = @content.text
        .DateBox
          %p.NowDate
            = @content.created_at.strftime("%Y.%m.%d %H:%M") 
  
  .CommentConteiner
    .Middle
      .MiddleBar
        .MiddleBar__Center
          __ 回答一覧
    .CommentForm
      = form_with class: 'CommnetSend' do |f|
        = f.text_area '#', {class: 'CommnetSend__Form', placeholder: 'コメントを入力する', rows: '3'}
        = f.submit 'SEND', {class: 'CommnetSend__SubmitBtn'}
         
    .CommentBox
      .CommentBox__UserBox
        .CommentBox__UserBox__UserName
          = icon("fa", "user fa-2x")
          = link_to "#" , class: "Name" do
            梨
      .CommentTextBox
        %p.CommentTextBox__Body
          すごく辛いですね、、わかります
          ただ頑張りましょう。向こうは何一つ覚えてないのだから
      .DateRight
        %p.NowDateComment
          2020.10.30 11:00
    
    .CommentBox
      .CommentBox__UserBox
        .CommentBox__UserBox__UserName
          = link_to "#" , class: "Name" do
            スイカさん
      .CommentTextBox
        %p.CommentTextBox__Body
          心中お察しいたします
      .DateRight
        %p.NowDateComment
          2020.10.30 11:00
                
  
  = render "footer"