.AccountPage
  .AccountPage__Header
    = link_to root_path do
      %h1 アカウント編集
  .AccountPage__Form
    = form_for(current_user) do |f|
      .FormField
        .FormField__label--normal
          = f.label :email, "メールアドレス"
            %span 必須 
        .FormField__input--normal
          = f.email_field :email, plaseholder: :email
      .FormField
        .FormField__label--normal
          = f.label :password, "パスワード"
          %i (英数字8文字以上)
          %span 必須
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :password_confirmation, "パスワード（確認用）"
          %span 必須
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "変更する", class: 'Button UserButton'
  .AccountPage__toLoginOrSignIn
    %p ログアウトする方はこちら  
    = link_to "ログアウト", '#'